.product-card {
  max-width: 350px;
  text-align: center;
  border: 2px solid #4caf5066;
  margin: auto;

  position: relative;
}

.product-card > a {
  display: block;
  padding: 10px 10px 30px;
}

.product-card .thumb {
  width: 80%;
  margin: auto;
}

.product-card .thumb > img {
  width: 100%;
}

.product-card .title {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #357a38;
  margin-top: 40px;
}

.product-card .price {
  font-size: 1.1rem;
  color: #1b5e20;
  margin-top: 20px;
}

.product-card .handle-cart {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;

  display: none;
}

.product-card.-show .handle-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.product-card .handle-cart > .btn-close {
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.product-card .handle-cart > .btn-close > .icon {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}

.product-card .handle-cart > .btn-close:hover > .icon {
  fill: #4caf50;
}

.product-card .handle-cart > .btn {
  display: inline-block;
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  padding: 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: background 150ms linear;
}
.product-card .handle-cart > .btn:hover {
  background-color: #1b5e20;
}

.product-card .handle-cart > .btn > .icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

.product-card .handle-cart > .btn.-add {
  position: relative;
}

.product-card .handle-cart > .btn.-add > .count {
  width: 15px;
  height: 15px;
  color: #4caf50;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;

  position: absolute;
  top: 15px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
