.header-page {
  display: flex;
  align-items: center;
  padding: 25px 30px;
  margin: 0 auto;
  background-color: #4caf50;
  color: #ffffff;
}

.header-page > .logo {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 0;
  padding-right: 25px;
  border-right: 1px solid #357a38;
}

@media (min-width: 1200px) {
  .header-page {
    padding: 25px calc((100% - 1100px) / 2);
  }
}

@media (max-width: 750px) {
  .header-page > .logo {
    border-right: none;
  }
}

/* NAVIGATION */

.navigation-menu {
  padding-left: 10px;
}

.navigation-menu > .action {
  display: inline-block;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 5px 15px;
  margin: 0 5px;
}

.navigation-menu > .action:hover,
.navigation-menu > .action:focus {
  color: #2e7031;
}

@media (max-width: 750px) {
  .navigation-menu {
    width: 250px;
    background-color: #1b5e20;
    padding: 80px 10px 50px;
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
  }

  .navigation-menu.-open {
    transform: translateX(0);
  }

  .navigation-menu > .action {
    margin-bottom: 20px;
  }

  .navigation-menu > .action:hover,
  .navigation-menu > .action:focus {
    color: #4caf50;
  }
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 50%;

  position: fixed;
  bottom: 50px;
  left: 30px;

  cursor: pointer;
}

.btn-menu > .icon {
  width: 27px;
  height: 27px;
  fill: #ffffff;
}

/* CART */

.header-page > .cart-container {
  margin-left: auto;
}

.cart-container > .cart {
  border: 2px solid #2e7031;
  border-radius: 30px;
  padding: 5px 20px;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.cart-container > .cart > .icon {
  width: 24px;
  height: 24px;
  fill: #2e7031;
}

.cart-container > .cart > .count {
  width: 0px;
  height: 19px;

  display: inline-block;
  color: #ffffff;
  margin-left: 0px;
  overflow: hidden;

  transition: width 200ms linear;
}

.cart-container > .cart:hover > .count,
.cart-container > .cart:focus > .count {
  margin-left: 5px;
  width: 62px;
}

/* PRODUCTS SECTION */

.products-section {
  max-width: 1100px;
  width: calc(100% - 50px);
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* PRODUCT CARD */

.product-card {
  max-width: 350px;
  text-align: center;
  border: 2px solid #4caf5066;
  padding: 10px 5px 30px;
  margin: auto;
}

.product-card > .thumb {
  width: 80%;
  margin: auto;
}

.product-card > .thumb > img {
  width: 100%;
}

.product-card > .title {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #357a38;
  margin-top: 40px;
}

.product-card > .price {
  font-size: 1.1rem;
  color: #1b5e20;
  margin-top: 20px;
}
